.tool-bar--light {
    background-color: #d3d3d3;
}

.logo__title--light {
    color: black;
}

.screen--light {
    background-color: white;
}

.copyright__text--light {
    color: black;
}

.paragraph--light {
    color: black;
}

.button-container--light {
    background-color: #e9dfdf;
}

.light-button--light {
    color: white;
    background-color: #272626;
}

.row__key--light {
    color: black;
    background-color: white;
}