@font-face {
  font-family: 'ModernDOS';
  src: url("./../font/ModernDOS9x16.eot");
  src: url("./../font/ModernDOS9x16.eot?#iefix") format("embedded-opentype"), url("./../font/ModernDOS9x16.woff2") format("woff2"), url("./../font/ModernDOS9x16.woff") format("woff"), url("./../font/ModernDOS9x16.ttf") format("truetype"), url("./../font/ModernDOS9x16.svg#ModernDOS9x16") format("svg");
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

.global-container {
  width: 100%;
  font-size: 2vw;
}

.global-container > * {
  background-color: #444;
  border: 1px solid red;
}

.global-container > * > * {
  background-color: brown;
  border: 1px solid yellow;
}

.global-container > * > * > * {
  background-color: orangered;
  border: 1px solid black;
}

.global-container > * > * > * > * {
  background-color: pink;
  border: 1px solid blue;
}

.global-container > * > * > * > * > * {
  background-color: purple;
  border: 1px solid green;
}

.global-container .tool-bar {
  width: 100%;
  height: 4.98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 992px) {
  .global-container .tool-bar {
    display: none;
  }
}

.global-container .tool-bar .logo {
  width: 14.2vw;
  height: 3.2vh;
  margin-left: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-container .tool-bar .logo__img {
  width: 2vw;
  height: 3.2vh;
}

.global-container .tool-bar .logo__img > img {
  width: 100%;
  height: 100%;
}

.global-container .tool-bar .logo__title {
  width: 11.5vw;
  font-size: 1vw;
  font-family: "ModernDOS", Arial, Helvetica, sans-serif;
}

.global-container .screen {
  width: 100%;
  height: 56vh;
}

@media all and (max-width: 992px) {
  .global-container .screen {
    height: 64vh;
  }
}

.global-container .screen .copyright {
  margin-bottom: 3.5vh;
}

.global-container .screen .copyright__text {
  font-size: 1.5vw;
  font-family: "ModernDOS", Arial, Helvetica, sans-serif;
}

@media all and (max-width: 992px) {
  .global-container .screen .copyright__text {
    font-size: 2vw;
  }
}

@media all and (max-width: 768px) {
  .global-container .screen .copyright__text {
    font-size: 3.5vw;
  }
}

.global-container .screen__paragraph {
  margin-bottom: 3.5vh;
  font-size: 1.5vw;
  font-family: "ModernDOS", Arial, Helvetica, sans-serif;
}

@media all and (max-width: 992px) {
  .global-container .screen__paragraph {
    font-size: 2vw;
  }
}

@media all and (max-width: 768px) {
  .global-container .screen__paragraph {
    font-size: 3.5vw;
  }
}

.global-container .button-container {
  width: 100%;
  height: 38vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media all and (max-width: 992px) {
  .global-container .button-container {
    height: 35vh;
  }
}

.global-container .button-container .setting-section {
  width: 12vw;
}

.global-container .button-container .setting-section__button {
  width: 12vw;
  display: block;
  font-size: 2vw;
}

@media all and (max-width: 992px) {
  .global-container .button-container .setting-section {
    display: none;
  }
}

.global-container .button-container .desktop-keyboard {
  width: 62vw;
  height: 38vh;
  margin-left: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 992px) {
  .global-container .button-container .desktop-keyboard {
    display: none;
  }
}

.global-container .button-container .desktop-keyboard .row {
  width: 62vw;
  height: 7.6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-container .button-container .desktop-keyboard .row:first-child {
  width: 58vw;
}

.global-container .button-container .desktop-keyboard .row:nth-child(2) {
  width: 54vw;
}

.global-container .button-container .desktop-keyboard .row:nth-child(4) {
  width: 58vw;
}

.global-container .button-container .desktop-keyboard .row:nth-child(5) {
  width: 26vw;
}

.global-container .button-container .desktop-keyboard .row__key {
  width: 4vw;
  height: 6vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 0.21vw outset #444;
}

.global-container .button-container .desktop-keyboard .row__key--large {
  width: 8vw;
}

.global-container .button-container .desktop-keyboard .row__key--space {
  width: 26vw;
}

.global-container .button-container .desktop-keyboard .row__key:active {
  border-style: inset;
}

.global-container .button-container .desktop-keyboard .row__key > span {
  font-size: 2vw;
  font-family: sans-serif;
}

.global-container .button-container .desktop-keyboard .row__key > .led {
  position: absolute;
  top: 0.8vh;
  left: 0.5vw;
  width: 0.7vw;
  height: 0.7vw;
  background-color: black;
  border-radius: 50%;
}

.global-container .button-container .tablet-keyboard {
  width: 100%;
  height: 35vh;
  display: none;
}

@media all and (max-width: 992px) {
  .global-container .button-container .tablet-keyboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 768px) {
  .global-container .button-container .tablet-keyboard {
    display: none;
  }
}

.global-container .button-container .tablet-keyboard .row {
  width: 100%;
  height: 5.95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-container .button-container .tablet-keyboard .row:nth-child(3) {
  width: 84vw;
}

.global-container .button-container .tablet-keyboard .row:last-child {
  width: 40vw;
}

.global-container .button-container .tablet-keyboard .row__key {
  width: 7.75vw;
  height: 5.95vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.global-container .button-container .tablet-keyboard .row__key--large {
  width: 13.32vw;
}

.global-container .button-container .tablet-keyboard .row__key--xlarge {
  width: 15.5vw;
}

.global-container .button-container .tablet-keyboard .row__key--space {
  width: 40vw;
}

.global-container .button-container .tablet-keyboard .row__key:active {
  background-color: grey;
}

.global-container .button-container .tablet-keyboard .row__key > span {
  font-size: 2.5vw;
  font-family: sans-serif;
}

.global-container .button-container .tablet-keyboard .row__key > .upper {
  display: none;
}

.global-container .button-container .mobile-keyboard {
  width: 100%;
  height: 35vh;
  display: none;
}

@media all and (max-width: 768px) {
  .global-container .button-container .mobile-keyboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.global-container .button-container .mobile-keyboard .row {
  width: 100%;
  height: 6.65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-container .button-container .mobile-keyboard .row:first-child {
  height: 5.1vh;
}

.global-container .button-container .mobile-keyboard .row:nth-child(3) {
  width: 91vw;
}

.global-container .button-container .mobile-keyboard .row:last-child {
  height: 5.1vh;
}

.global-container .button-container .mobile-keyboard .row__key {
  width: 8.5vw;
  height: 6.65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 10%;
}

.global-container .button-container .mobile-keyboard .row__key--small {
  height: 5.1vh;
}

.global-container .button-container .mobile-keyboard .row__key--large {
  width: 12.75vw;
}

.global-container .button-container .mobile-keyboard .row__key--xlarge {
  width: 17vw;
}

.global-container .button-container .mobile-keyboard .row__key--space {
  width: 41vw;
}

.global-container .button-container .mobile-keyboard .row__key:active {
  background-color: grey;
}

.global-container .button-container .mobile-keyboard .row__key > span {
  font-size: 4vw;
  font-family: sans-serif;
}

.global-container .button-container .mobile-keyboard .row__key > .upper {
  display: none;
}
/*# sourceMappingURL=keyboard.css.map */