@font-face {
    font-family: 'ModernDOS';
    src: url('./../font/ModernDOS9x16.eot');
    src: url('./../font/ModernDOS9x16.eot?#iefix') format('embedded-opentype'),
        url('./../font/ModernDOS9x16.woff2') format('woff2'),
        url('./../font/ModernDOS9x16.woff') format('woff'),
        url('./../font/ModernDOS9x16.ttf') format('truetype'),
        url('./../font/ModernDOS9x16.svg#ModernDOS9x16') format('svg');
}

$breakpoint: (
    tablet: 992px,
    mobile: 768px,
);

@mixin tablet_layout {
    @media all and (max-width: map-get($breakpoint, tablet)) {
        @content;
    }
}

@mixin mobile_layout {
    @media all and (max-width: map-get($breakpoint, mobile)) {
        @content;
    }
}

html body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.global-container {
    width: 100%;
    font-size: 2vw;

    & > * {
        background-color: #444;
        border: 1px solid red; 
    }

    & > * > * {
        background-color: brown;
        border: 1px solid yellow;
    }

    & > * > * > * {
        background-color: orangered;
        border: 1px solid black;
    }

    & > * > * > * > * {
        background-color: pink;
        border: 1px solid blue;
    }

    & > * > * > * > * > * {
        background-color: purple;
        border: 1px solid green;
    }

    .tool-bar {
        width: 100%;
        height: 4.98vh;
        display: flex;
        align-items: center;

        @include tablet_layout {
            display: none;
        }

        .logo {
            width: 14.2vw;
            height: 3.2vh;
            margin-left: 0.5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__img {
                width: 2vw;
                height: 3.2vh;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__title {
                width: 11.5vw;
                font-size: 1vw;
                font-family: "ModernDOS", Arial, Helvetica, sans-serif;
            }
        }
    }

    .screen {
        width: 100%;
        height: 56vh;

        @include tablet_layout {
            height: 64vh;
        }

        .copyright {
            margin-bottom: 3.5vh;

            &__text {
                font-size: 1.5vw;
                font-family: "ModernDOS", Arial, Helvetica, sans-serif;

                @include tablet_layout {
                    font-size: 2vw;
                }

                @include mobile_layout {
                    font-size: 3.5vw;
                }
            }
        }

        &__paragraph {
            margin-bottom: 3.5vh;
            font-size: 1.5vw;
            font-family: "ModernDOS", Arial, Helvetica, sans-serif;

            @include tablet_layout {
                font-size: 2vw;
            }

            @include mobile_layout {
                font-size: 3.5vw;
            }
        }
    }

    .button-container {
        width: 100%;
        height: 38vh;
        display: flex;
        align-items: flex-start;

        @include tablet_layout {
            height: 35vh;
        }

        .setting-section {
            width: 12vw;

            &__button {
                width: 12vw;
                display: block;
                font-size: 2vw;
            }

            @include tablet_layout {
                display: none;
            }
        }

        .desktop-keyboard {
            width: 62vw;
            height: 38vh;
            margin-left: 6vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include tablet_layout {
                display: none;
            }

            .row {
                width: 62vw;
                height: 7.6vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:first-child {
                    width: 58vw;
                }

                &:nth-child(2) {
                    width: 54vw;
                }

                &:nth-child(4) {
                    width: 58vw;
                }

                &:nth-child(5) {
                    width: 26vw;
                }

                &__key {
                    width: 4vw;
                    height: 6vh;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border: 0.21vw outset #444;

                    &--large {
                        width: 8vw;
                    }

                    &--space {
                        width: 26vw;
                    }

                    &:active {
                        border-style: inset;
                    }

                    & > span {
                        font-size: 2vw;
                        font-family: sans-serif;
                    }

                    & > .led {
                        position: absolute;
                        top: 0.8vh;
                        left: 0.5vw;
                        width: 0.7vw;
                        height: 0.7vw;
                        background-color: black;
                        border-radius: 50%;
                    }
                }
            }
        }

        .tablet-keyboard {
            width: 100%;
            height: 35vh;
            display: none;

            @include tablet_layout {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            @include mobile_layout {
                display: none;
            }

            .row {
                width: 100%;
                height: 5.95vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:nth-child(3) {
                    width: 84vw;
                }

                &:last-child {
                    width: 40vw;
                }

                &__key {
                    width: 7.75vw;
                    height: 5.95vh;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;

                    &--large {
                        width: 13.32vw;
                    }

                    &--xlarge {
                        width: 15.5vw;
                    }

                    &--space {
                        width: 40vw;
                    }

                    &:active {
                        background-color: grey;
                    }

                    & > span {
                        font-size: 2.5vw;
                        font-family: sans-serif;
                    }

                    & > .upper {
                        display: none;
                    }
                }
            }
        }

        .mobile-keyboard {
            width: 100%;
            height: 35vh;
            display: none;

            @include mobile_layout{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            .row {
                width: 100%;
                height: 6.65vh;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:first-child {
                    height: 5.1vh;
                }

                &:nth-child(3) {
                    width: 91vw;
                }

                &:last-child {
                    height: 5.1vh;
                }

                &__key {
                    width: 8.5vw;
                    height: 6.65vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 10%;

                    &--small {
                        height: 5.1vh;
                    }

                    &--large {
                        width: 12.75vw;
                    }

                    &--xlarge {
                        width: 17vw;
                    }

                    &--space {
                        width: 41vw;
                    }

                    &:active {
                        background-color: grey;
                    }

                    & > span {
                        font-size: 4vw;
                        font-family: sans-serif;
                    }

                    & > .upper {
                        display: none;
                    }
                }
            }
        }
    }
}