@font-face {
    font-family: 'ModernDOS';
    src: url('./../font/ModernDOS9x16.eot');
    src: url('./../font/ModernDOS9x16.eot?#iefix') format('embedded-opentype'),
        url('./../font/ModernDOS9x16.woff2') format('woff2'),
        url('./../font/ModernDOS9x16.woff') format('woff'),
        url('./../font/ModernDOS9x16.ttf') format('truetype'),
        url('./../font/ModernDOS9x16.svg#ModernDOS9x16') format('svg');
}

html body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.global-container {
    color: red;
    font-size: 2vw;
    text-align: center;
    border: 1px solid red;

    & > * {
        background-color: #444;
        border: 1px solid red; 
    }

    & > * > * {
        background-color: pink;
        border: 1px solid blue;
        text-align: center;
    }

    & > * > * > * {
        background-color: purple;
        border: 1px solid green;
        text-align: center;
    }

    & > * > * > * > * {
        background-color: brown;
        border: 1px solid yellow;
        text-align: center;
    }

    & > * > * > * > * > * {
        background-color: orangered;
        border: 1px solid black;
        text-align: center;
    }

    .setting-section {
        width: 37.5vw;
        margin-left: auto;
        margin-bottom: 6vh;
        display: flex;
        justify-content: space-between;

        &__button {
            width: 17vw;
            display: block;
            font-size: 3.5vw;
        }
    }

    .input-view {
        width: 82vw;
        height: 30vh;
        margin: auto;
        margin-bottom: 4vh;
    }

    .keyboard {
        width: 82vw;
        height: 26vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .row {
            width: 82vw;
            height: 5vh;
            display: flex;
            justify-content: space-between;

            &:nth-child(1) {
                height: 3vh;
            }

            &:nth-child(3) {
                width: 75.5vw;
            }

            &:last-child {
                height: 3vh;
            }

            &__key {
                width: 6.2vw;
                height: 5vh;
                display: flex;
                justify-content: center;
                align-items: center;

                &--small {
                    height: 3vh;
                }

                &--large {
                    width: 9.3vw;
                }

                &--xlarge {
                    width: 12.4vw;
                }

                &--space {
                    width: 38.2vw;
                }

                & > span {
                    display: block;
                    font-size: 3vw;
                }
            }
        }
    }
}